body{
	margin: 0 auto;
	width:980px;
	background:#777777;
	border:10px solid #ffffff;
	font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
	font-size:18px;
	border-right: 25px solid #ffffff;
	border-left: 25px solid #ffffff;
}
#bg{
	background:#cccccc;
	min-height:100%;
}
a{
	text-decoration: none;
}
a:visited, a:hover{
	color: #ffffff;
}
.clearer{
	clear:both;
}
#content{
	padding-top:15px;
	text-align:center;
	height:600px;	
}
#faq{
	text-align:left;
}
#login{
	float:left;
	width:475px;
}
#tblogin{
	padding-top:10px;
	margin:0 auto;
}
#register{
	float:right;
	width:475px;
}
#tbregister{
	padding-top:10px;
	margin:0 auto;
}
#title{
	font-weight:bold;
	font-size: 24px;
}
#top_bar{
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	width:100%;
	background:#aaaaaa;
}
li:hover{
	background: #555555;
}
#page_title{
	text-decoration: underline;
}
#top_bar li{
	padding: 10px;
	list-style:none;
	display:inline;
}
#bottom_bar{
	text-align:center;
}
#bottom_bar li{
	border:1px solid #000000;
	list-style:none;
	display:inline;
}
#play_form{
	margin:0 auto;
}
.label{
	text-align:right;
}