body{
	margin: 0 auto;
	width:980px;
	background:#dddddd;
	border:3px solid #ffffff;
	font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
	font-size:18px;
}
#bg{
	background:#fff333;
	min-height:100%;
}
a{
	text-decoration: none;
}
a:visited, a:hover{
	color: #ffffff;
}
#content{
	padding-top:15px;
	text-align:center;
	height:500px;	
}
#faq{
	text-align:left;
}
#title{
	font-weight:bold;
	font-size: 24px;
}
#top_bar{
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	width:100%;
	background:#ff3210;
}
li:hover{
	background: #22FF33;
}
#page_title{
	text-decoration: underline;
}
#top_bar li{
	padding: 10px;
	list-style:none;
	display:inline;
}
#bottom_bar{
	text-align:center;
}
#bottom_bar li{
	border:1px solid #000000;
	list-style:none;
	display:inline;
}